/* styles.css */

@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: 400;
    src: local('Monaco'), url('/public/Monaco.woff') format('woff');
    }

/* Globals */
body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 
                 Segoe UI, Oxygen, Ubuntu, Cantarell, 
                 Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
                 
    background-color: hsl(215,24%,7%);
    color: #e5edf2 ;

    width: 65%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    padding: 20px;
    line-height: 1.6;
}

@media (max-width:768px) {
    body {
        width: 100%;
    }
}

code, pre {
    font-family: 'Monaco';
    font-size: small;

    display: flex;
    white-space: normal;

    background-color: #161b22;
    padding: 2px 5px;
    border-radius: 3px;
    color: #dfe7ec ;
    padding: 10px;
}

h1, h2 {
    border-bottom: 1px solid hsl(210,10%,16%);
    padding-bottom: 0.3em; 
    margin-bottom: 1em; 
    color: #e5edf2;
}

a {
    color: hsl(216,93%,58%);
}

ul {
    padding-left: 20px;
}

li {
    margin-left: 5px;
}

.code-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.copy-button { 
    right: 10px;

    border: none;
    border-radius: 3px;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    color: #dfe7ec ;

    padding: 7px;
}

.copy-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.octicon-copy {
    fill: #586069;
}

/* List */
/* Main Container for list page */
.list-page {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container for the file list */
.md-file-list-container {
    width: 40vh;
    max-width: 80%;

    padding: 20px;
    height: max-content;
    box-sizing: border-box;
}

.md-file-list {
    padding: 0;
}

/* Style for each file item */
.md-file-item {
    background-color: transparent;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    list-style-type: none; 
    transition: background-color 0.3s; 

    display: block;
}

/* Hover effect */
.md-file-item:hover {
    background-color: hsl(215,24%,14%);
}

/* Style for the links */
.md-file-item a {
    text-decoration: none;
    color: #e5edf2;
    display: block; 
}

.data-not-found {
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

